#### Openpyxl dan Manipulasi workbook

In [1]:
from openpyxl import Workbook

wb = Workbook()
ws = wb.active #kita sedang bekerja pd workbook yg sedang aktif (default=0) dgn judul "sheet"

In [2]:
ws1 = wb.create_sheet("kerja") #creating a worksheet named "kerja" at the end after the first sheet
ws2 = wb.create_sheet("kerja", 0) #creating a worksheet at the beginning, auto rename
ws3 = wb.create_sheet("kerja", -1) #creating a ws at the second end, auto rename 

print(wb.sheetnames)

['kerja1', 'Sheet', 'kerja2', 'kerja']

In [3]:
ws3.title = 'kerja3'
ws.title = 'kerja2' 
ws1.title = 'kerja4'
ws2.title = 'kerja1'


print(wb.sheetnames)

['kerja1', 'kerja2', 'kerja3', 'kerja4']

In [4]:
wb.save('trial_file.xlsx')

In [5]:
workactive = wb['kerja1']
print(workactive)

<Worksheet "kerja1">

#### Manipulasi Sel

In [6]:
ws3['C4'] = 'First Child'
ws3.cell(row=5, column=4).value = 8
ws1['C4'] = 'Second Child'
ws.cell(row=4, column=7).value = 7

In [7]:
food = ['meatballs','noodles','steak','spaghetti']

for index in range(0, len(food)):
    ws2.cell(row=index+1, column=1).value = food[index]

for index in range (0, len(food)):
    ws2.cell(row=1, column=index+1).value = food[index]
    
#row + 1 dan column +1 digunakan karena baris dan kolom
#tidak bisa dimulai dari 0.

In [8]:
menu = [['hari'],['senin', 'nasi', 'ayam'],['selasa', 'susu'],['rabu','nasi goreng', 'ati ampela', 'jus apel'],['kamis','capcay','telur mata sapi']]
for item in menu:
    ws.append(item)

#FUNGSI BELUM TAU

In [9]:
wb.save('trial_file.xlsx')

#### Membaca Excel

In [10]:
from openpyxl import load_workbook

data = load_workbook(filename='trial_file.xlsx')

In [11]:
print(data)

<openpyxl.workbook.workbook.Workbook object at 0x0000027EC3C682B0>

In [12]:
print(data.sheetnames)

['kerja1', 'kerja2', 'kerja3', 'kerja4']

In [13]:
sheet = data.active
print(sheet)

sheet1 = data['kerja3']
print(sheet1)

#mulai bekerja di worksheet kerja1

<Worksheet "kerja1">
<Worksheet "kerja3">

In [14]:
print(sheet['C4']) #checking sel terkait di sheet terkait

<Cell 'kerja1'.C4>

In [15]:
print(sheet['C4'].value) #mengambil nilai dari sel terkait di sheet terkait

None

In [16]:
print(sheet1.cell(row=4, column=3))

<Cell 'kerja3'.C4>

In [17]:
print(sheet1.cell(row=4, column=3).value)

First Child

In [18]:
#BELUM TAU FUNGSINYA
print(ws["A3:D4"])

print(ws["A"])

print(ws[1])

print(ws["A:B"])

print(ws[1:4])

((<Cell 'kerja2'.A3>, <Cell 'kerja2'.B3>, <Cell 'kerja2'.C3>, <Cell 'kerja2'.D3>), (<Cell 'kerja2'.A4>, <Cell 'kerja2'.B4>, <Cell 'kerja2'.C4>, <Cell 'kerja2'.D4>))
(<Cell 'kerja2'.A1>, <Cell 'kerja2'.A2>, <Cell 'kerja2'.A3>, <Cell 'kerja2'.A4>, <Cell 'kerja2'.A5>, <Cell 'kerja2'.A6>, <Cell 'kerja2'.A7>, <Cell 'kerja2'.A8>, <Cell 'kerja2'.A9>)
(<Cell 'kerja2'.A1>, <Cell 'kerja2'.B1>, <Cell 'kerja2'.C1>, <Cell 'kerja2'.D1>, <Cell 'kerja2'.E1>, <Cell 'kerja2'.F1>, <Cell 'kerja2'.G1>)
((<Cell 'kerja2'.A1>, <Cell 'kerja2'.A2>, <Cell 'kerja2'.A3>, <Cell 'kerja2'.A4>, <Cell 'kerja2'.A5>, <Cell 'kerja2'.A6>, <Cell 'kerja2'.A7>, <Cell 'kerja2'.A8>, <Cell 'kerja2'.A9>), (<Cell 'kerja2'.B1>, <Cell 'kerja2'.B2>, <Cell 'kerja2'.B3>, <Cell 'kerja2'.B4>, <Cell 'kerja2'.B5>, <Cell 'kerja2'.B6>, <Cell 'kerja2'.B7>, <Cell 'kerja2'.B8>, <Cell 'kerja2'.B9>))
((<Cell 'kerja2'.A1>, <Cell 'kerja2'.B1>, <Cell 'kerja2'.C1>, <Cell 'kerja2'.D1>, <Cell 'kerja2'.E1>, <Cell 'kerja2'.F1>, <Cell 'kerja2'.G1>), (<Cell 'kerja2'.A2>, <Cell 'kerja2'.B2>, <Cell 'kerja2'.C2>, <Cell 'kerja2'.D2>, <Cell 'kerja2'.E2>, <Cell 'kerja2'.F2>, <Cell 'kerja2'.G2>), (<Cell 'kerja2'.A3>, <Cell 'kerja2'.B3>, <Cell 'kerja2'.C3>, <Cell 'kerja2'.D3>, <Cell 'kerja2'.E3>, <Cell 'kerja2'.F3>, <Cell 'kerja2'.G3>), (<Cell 'kerja2'.A4>, <Cell 'kerja2'.B4>, <Cell 'kerja2'.C4>, <Cell 'kerja2'.D4>, <Cell 'kerja2'.E4>, <Cell 'kerja2'.F4>, <Cell 'kerja2'.G4>))

sheet["A3:D4"] akan mengambil data pada kota di dalam A3 sampai D4
sheet["A"] akan mengambil semua data pada kolom A
sheet[1] akan mengambil semua data pada baris pertama
sheet["A:B"] akan mengambil semua data pada kolom A sampai kolom B
sheet[1:4] akan mengambil semua data pada baris pertama sampai bari keempat.

In [19]:
sheet = data.active
print(sheet)

sheetx = data['kerja2']
print(sheetx)

sheety = data['kerja3']
sheetz = data['kerja4']

<Worksheet "kerja1">
<Worksheet "kerja2">

In [20]:
print(sheet['A1':'D1'])

((<Cell 'kerja1'.A1>, <Cell 'kerja1'.B1>, <Cell 'kerja1'.C1>, <Cell 'kerja1'.D1>),)

In [21]:
for row in sheet.iter_rows(min_row=1, max_col=4, max_row=2):
    for cell in row:
        print(cell)

<Cell 'kerja1'.A1>
<Cell 'kerja1'.B1>
<Cell 'kerja1'.C1>
<Cell 'kerja1'.D1>
<Cell 'kerja1'.A2>
<Cell 'kerja1'.B2>
<Cell 'kerja1'.C2>
<Cell 'kerja1'.D2>

In [22]:
#digunakan untuk mengambil semua kolom dengan range disebutkan
sheet.iter_cols(min_row=1, max_row=4, min_col=1, max_col=4)

#digunakan untuk mengambil semua baris dengan range disebutkan
sheet.iter_rows(min_row=1, max_row=4, min_col=1, max_col=4)

#### Pandas & Excel

#Untuk melakukan konversi dari dataframe
#ke dalam excel yang disimpan kita dapat menggunakan.

import pandas as pd

df = sheet.to_excel('trial_file.xlsx')

#Jika kita perlu memasukkan ke dalam sheet tertentu,
#bisa kita gunakan

df.to_excel("trial_file.xlsx",sheet_name='kerja1')

#Memasukkan beberapa dataframe kedalam sheet yang berbeda
#dapat kita lakukan dengan memanfaatkan fungsi ExcelWriter

with pd.ExcelWriter('trial_file.xlsx') as writer:  
    hasil1.to_excel(writer, sheet_name='kerja1')
    hasil2.to_excel(writer, sheet_name='kerja2')

#### Visualisasi dengan pulau_indonesia.csv

In [23]:
from openpyxl import Workbook
from openpyxl.chart import BarChart, Reference
import csv

#inisiasi excel
wb = Workbook(write_only=True)
ws = wb.create_sheet() #harus dibikin dulu sheet dulu. Kalo wb.active, hrs ada sheet dulu

#open file
data = open('pulau_indonesia.csv')
rows = csv.reader(data, delimiter=",")

#for row in rows:
#    print(row)

In [24]:
index = 0
for row in rows:
    list_baru = []   #list_baru untuk mengubah angka di csv dr string mjd int 
    for cell in row:
        try:                     #try except adalah manajemen error, bukan membandingkan dua kondisi
            if cell.isalnum():    #pake try ini akan menunjukkan nilai awal string
                cell = ''.join(cell)
            cell = int(cell)
        except:
            #print(type(cell))  #pake except di sini akan menunjukkan mana yg masi jadi string
            pass #kenapa pass? bilamana ditulis method misal print(), malah hanya menunjukkan error, bukan dikoreksi
        list_baru.append(cell) #list_baru yg isinya cells yg sdh jadi int
    ws.append(list_baru)
    index += 1
len_row = len(list_baru)

#inisiasi chart
chart_1 = BarChart()
chart_1.type = 'col' #grafik nanti tumbuh ke atas
chart_1.style = 8 #bebas
chart_1.title = 'Data Kepulauan di Indonesia'
chart_1.y_axis.title = 'Jumlah Pulau'
chart_1.x_axis.title = 'Nama Provinsi'

data = Reference(ws, min_col=3, max_col=4, min_row=1, max_row=index)
cats = Reference(ws, min_col=2, min_row=2, max_row=index)
chart_1.height = 10
chart_1.width = 30
chart_1.add_data(data, titles_from_data=True)
chart_1.set_categories(cats)
ws.add_chart(chart_1, 'G2')

wb.save('chart pulau.xlsx')

# Tugas 2

Buatlah sebuah fungsi/kode yang memiliki fitur mengenerate file excel dengan ketentuan:
1. File excel menghitung tingkat kepadatan penduduk tiap kecamatan di bandung per 100 meter persegi
2. Gunakan chart batang sebagai visualisasi
3. File excel yang digenerate diberinama emaildepan.xlsx (ganti nama peserta dengan nama kalian.
4. Kumpulkan dengan format penamaan tugas_2_emaildepan.py/ipynb yang ketika dijalankan akan menghasilkan file xlsx.

In [25]:
from openpyxl import Workbook
from openpyxl.chart import BarChart, Series, Reference
import pandas as pd
import csv

#pembersihan data via pandas

In [26]:
dataset1 = pd.read_csv('jumlah-penduduk-kota-bandung.csv')

In [27]:
dataset2 = pd.read_csv('luas-wilayah-menurut-kecamatan-di-kota-bandung-2017.csv')

In [28]:
dataset1.columns.tolist()

['Kecamatan  ', 'Jumlah_Kelurahan', 'Jumlah_Penduduk']

In [29]:
dataset1

         Kecamatan    Jumlah_Kelurahan  Jumlah_Penduduk
0      Bandung Kulon                 8           142411
1    Babakan Ciparay                 6           147096
2    Bojongloa Kaler                 5           120405
3    Bojongloa Kidul                 6            85668
4        Astanaanyar                 6            68830
5              Regol                 7            81467
6           Lengkong                 7            71187
7      Bandung Kidul                 4            58957
8          Buah Batu                 4            95108
9          Rancasari                 4            76895
10          Gedebage                 4            37082
11            Cibiru                 4            72016
12       Panyileukan                 4            40248
13      Ujung Berung                 5            76902
14           Cinambo                 4            25231
15         Arcamanik                 4            69313
16          Antapani                 4            74461
17       Mandalajati                 4            63578
18      Kiaracondong                 6           131972
19       Batununggal                 8           120927
20     Sumur Bandung                 4            36579
21             Andir                 6            97553
22           Cicendo                 6            99752
23     Bandung Wetan                 3            31124
24  Cibeunying Kidul                 6           107806
25  Cibeunying Kaler                 4            70924
26           Coblong                 6           131530
27          Sukajadi                 5           108375
28          Sukasari                 4            81908
29           Cidadap                 3            58672

In [30]:
dataset2.columns.tolist()

['Nama Kecamatan', 'Luas Wilayah (m2)']

In [31]:
dataset2

      Nama Kecamatan  Luas Wilayah (m2)
0              Andir            4220000
1           Antapani            4220000
2          Arcamanik            7590000
3       Astana Anyar            2680000
4    Babakan Ciparay            7070000
5      Bandung Kidul            5420000
6      Bandung Kulon            6950000
7      Bandung Wetan            3440000
8        Batununggal            4820000
9    Bojongloa Kaler            3120000
10   Bojongloa Kidul            5200000
11          Buahbatu            7460000
12  Cibeunying Kaler            4640000
13  Cibeunying Kidul            4140000
14            Cibiru            6840000
15           Cicendo            7790000
16           Cidadap            8420000
17           Cinambo            4250000
18           Coblong            7310000
19          Gedebage            9960000
20      Kiaracondong            5800000
21          Lengkong            5910000
22       Mandalajati            4800000
23       Panyileukan            5310000
24         Rancasari            7010000
25             Regol            4740000
26          Sukajadi            5280000
27          Sukasari            6360000
28     Sumur Bandung            3490000
29       Ujungberung            6240000

In [32]:
dataset1 = dataset1.sort_values(by=['Kecamatan  '], ascending=True)
dataset1.reset_index(inplace=True, drop=True)

In [33]:
dataset1

         Kecamatan    Jumlah_Kelurahan  Jumlah_Penduduk
0              Andir                 6            97553
1           Antapani                 4            74461
2          Arcamanik                 4            69313
3        Astanaanyar                 6            68830
4    Babakan Ciparay                 6           147096
5      Bandung Kidul                 4            58957
6      Bandung Kulon                 8           142411
7      Bandung Wetan                 3            31124
8        Batununggal                 8           120927
9    Bojongloa Kaler                 5           120405
10   Bojongloa Kidul                 6            85668
11         Buah Batu                 4            95108
12  Cibeunying Kaler                 4            70924
13  Cibeunying Kidul                 6           107806
14            Cibiru                 4            72016
15           Cicendo                 6            99752
16           Cidadap                 3            58672
17           Cinambo                 4            25231
18           Coblong                 6           131530
19          Gedebage                 4            37082
20      Kiaracondong                 6           131972
21          Lengkong                 7            71187
22       Mandalajati                 4            63578
23       Panyileukan                 4            40248
24         Rancasari                 4            76895
25             Regol                 7            81467
26          Sukajadi                 5           108375
27          Sukasari                 4            81908
28     Sumur Bandung                 4            36579
29      Ujung Berung                 5            76902

In [34]:
dataset2['Kepadatan Penduduk'] = dataset1['Jumlah_Penduduk'] / dataset2['Luas Wilayah (m2)'] * 100

In [35]:
dataset = dataset2.drop('Luas Wilayah (m2)', 1)

In [36]:
dataset

      Nama Kecamatan  Kepadatan Penduduk
0              Andir            2.311682
1           Antapani            1.764479
2          Arcamanik            0.913215
3       Astana Anyar            2.568284
4    Babakan Ciparay            2.080566
5      Bandung Kidul            1.087768
6      Bandung Kulon            2.049079
7      Bandung Wetan            0.904767
8        Batununggal            2.508859
9    Bojongloa Kaler            3.859135
10   Bojongloa Kidul            1.647462
11          Buahbatu            1.274906
12  Cibeunying Kaler            1.528534
13  Cibeunying Kidul            2.604010
14            Cibiru            1.052865
15           Cicendo            1.280513
16           Cidadap            0.696817
17           Cinambo            0.593671
18           Coblong            1.799316
19          Gedebage            0.372309
20      Kiaracondong            2.275379
21          Lengkong            1.204518
22       Mandalajati            1.324542
23       Panyileukan            0.757966
24         Rancasari            1.096933
25             Regol            1.718713
26          Sukajadi            2.052557
27          Sukasari            1.287862
28     Sumur Bandung            1.048109
29       Ujungberung            1.232404

#penyimpanan dataset baru ke dalam .csv file

In [37]:
dataset.to_csv('dataset_cleaned.csv', index = False)

#inisiasi excel

In [38]:
wb = Workbook()
ws = wb.active

#membuka file excel

In [39]:
data = open('dataset_cleaned.csv')
rows = csv.reader(data, delimiter = ',')

#konversi data menjadi float

In [40]:
index = 0
for row in rows:
    data_clean = []
    for i in row:
        try:
            i = float(i)
        except:
            pass
        data_clean.append(i)
    ws.append(data_clean)
    index +=1
len_row = len(data_clean)

#pembuatan grafik

In [41]:
chart1 = BarChart()
chart1.type = "col"
chart1.style = 3
chart1.title = 'Kepadatan Penduduk'
chart1.y_axis.title = 'Kepadatan per 100 m2'
chart1.x_axis.title = 'Kecamatan'

In [42]:
data = Reference(ws, min_col=2, min_row=2, max_row=index)
cats = Reference(ws, min_col=1, min_row=2, max_row=index)
chart1.height = 10 # default is 7.5
chart1.width = 30 # default is 15
chart1.add_data(data, titles_from_data=True)
chart1.set_categories(cats)
ws.add_chart(chart1, 'E2')

#menyimpan hasil akhir dalam file .xlsx baru

In [43]:
wb.save('chart kepadatan penduduk bandung.xlsx')